.Container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

// .Submit {
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     transform: translateY(-50%);
// }

.Input {
    border-radius: 20pt;
}

.Logo {
    height: 10em;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0pt 0pt 20pt gray;
    color: gray;
}

ion-button {
    box-shadow: 0pt 0pt 10pt white;
}