<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" sizeMd="8" sizeLg="6" sizeXl="4">
        <div class="ion-padding">
          <ion-text color="primary">
            <h2>Alarma de Robo</h2>
          </ion-text>
        </div>
        <login-form [userId]="id" (onSubmit)="login($event)"></login-form>
      </ion-col>
      <img src="../../assets/logo.png" alt="logo">
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="warning" (click)="setTestId(0)">
        <ion-text color="dark"><strong>1</strong></ion-text>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="setTestId(1)">
        <ion-text color="dark"><strong>2</strong></ion-text>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="setTestId(2)">
        <ion-text color="dark"><strong>3</strong></ion-text>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
