// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Roboto Slab', Times, serif;

  // --ion-background-color: #111111;
  // --ion-background-color-rgb: 17, 17, 17;
  // --ion-background-color-shade: #0f0f0f;

  // --ion-text-color: #eeeeee;
  // --ion-text-color-rgb: 238,238,238;

	--ion-color-primary: #C77F00;
	--ion-color-primary-rgb: 199,127,0;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #af7000;
	--ion-color-primary-tint: #cd8c1a;

	--ion-color-secondary: #4D1500;
	--ion-color-secondary-rgb: 77,21,0;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #441200;
	--ion-color-secondary-tint: #5f2c1a;

	--ion-color-tertiary: #36BEAD;
	--ion-color-tertiary-rgb: 54,190,173;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #30a798;
	--ion-color-tertiary-tint: #4ac5b5;

	--ion-color-success: #00A869;
	--ion-color-success-rgb: 0,168,105;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #00945c;
	--ion-color-success-tint: #1ab178;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #F6904A;
	--ion-color-medium-rgb: 246,144,74;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #d87f41;
	--ion-color-medium-tint: #f79b5c;

	--ion-color-light: #eeeeee;
	--ion-color-light-rgb: 238,238,238;
	--ion-color-light-contrast: #111111;
	--ion-color-light-contrast-rgb: 17,17,17;
	--ion-color-light-shade: #d1d1d1;
	--ion-color-light-tint: #f0f0f0;

}
