<ion-content [fullscreen]="true">
  <ion-grid class="h-100">
    <ion-row class="ion-align-items-center h-100">
      <ion-col size="12">
        <ion-button
          (click)="toggleAlarm()"
          size="large"
          expand="block"
          shape="round"
          class="bigger ion-padding"
          [ngClass]="{ 'active': isActive, 'inactive': !isActive }"
        >
          <ion-icon name="power-outline"></ion-icon>
          <!-- {{ isActive ? 'Desactivar' : 'Activar' }} alarma -->
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="start" vertical="bottom">
    <ion-fab-button (click)="logout()" color="tertiary" class="ion-margin">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
